
body{
  margin: 0;
  padding: 0;
}
/*background*/
.poster{
  height: 1000px;
  width: 710px;
  background-color: #ed008c;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/*the top part with the words*/
.top-third{
  display: block;
  height: 33.33%;
  width: 710px;
  padding-left: 20px;
  padding-right:15px;

}
/*making there less space betwene the paragraph lines*/
/*and making them bolder*/
p{
  line-height: .4;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: -1px;
}
/*the words at the top of the poster*/
.top-of-poster{
  display: flex;
  width:710px;
  height:20%;

}


.top-third .blondie{
  align-self: flex-end; /*these flex things didnt work*/
  justify-content: flex-start;
  padding-top: 175px;
  padding-left: 10px;
}
/*removing the default settings of h1*/
.blondie h1{
  font-size: 90px;
  letter-spacing: -4px;
  color:#d8e2d7;
  padding:0px;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.left-words, .middle-words, .right-words{
  padding: 10px;


}
/*aligning the start of each word with the block*/
.middle-words{
  padding-left:33px;
}
.right-words{
  padding-left: 205px;
}
/*the check boxes*/
.bottom-twothird{
  display:flex;
  height:66.66%;
}
.boxes{
  width: 710px;
}
.first-row-boxes,.second-row-boxes,.third-row-boxes,.forth-row-boxes{
  display: flex;
  height: 25%;
  width: 100%;

}
.square1-1, .square1-2, .square1-3, .square1-4,
.square2-1, .square2-2, .square2-3, .square2-4,
.square3-1, .square3-2, .square3-3, .square3-4,
.square4-1, .square4-2, .square4-3, .square4-4{
  width: 25%;
}
.square1-1{
  background-color: #cb017b;
}
.square1-2{
  background-color: #b6006f;
}
.square1-3{
  background-color: #99005d;
}
.square1-4{
  background-color: #7d004c;
}
.square2-1{
  background-color: #b6006f;
}
.square2-2{
  background-color: #99005d;
}
.square2-3{
  background-color: #7d004c;
}
.square2-4{
  background-color: #630039;
}
.square3-1{
  background-color: #99005d;
}
.square3-2{
  background-color: #7d004c;
}
.square3-3{
  background-color: #630039;
}
.square3-4{
  background-color: #430023;
}
.square4-1{
  background-color: #7d004c;
}
.square4-2{
  background-color: #630039;
}
.square4-3{
  background-color: #460024;
}
.square4-4{
  background-color: #060000;
}
*{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
